section.repository-list {
  margin: 40px;
  h1 {
    margin-bottom: 22px;
  }
  ul {
    list-style: none;
    li {
      padding-left: 8px;
      border-bottom: 1px solid #eee;
      border-left: 6px solid dodgerblue;
      & + li {
        margin-top: 16px;
      }
      p {
        font-size: 14px;
        color: #444;
        margin-top: 8px;
      }
      a {
          display: inline-block;
          margin: 16px 0px;
          text-decoration: none;
          color: #8257e6;
      }
    }
  }
}
